<div id="adbox">
  <img src="/images/sea-sound.jpg" alt="Sea" />
  <h1>Enjoy the Summer With Us!</h1>
  <p>
    Travlr Getaways is a sample project for CS-465. In Module 2, we refactor the site using MVC routing and Handlebars templates.
  </p>
</div>