{{> header}}

<div id="contents">
  <div id="adbox">
    <img src="/images/sea-sound.jpg" alt="Ocean view">
    <h1>Enjoy the Summer with Us!</h1>
    <p>Travlr Getaways customer-facing site.</p>
  </div>
</div>

{{> footer}}