<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" alt="Travlr Getaways" height="100" width="200" /></a>
        </div>
        <div id="navigation">
          <ul>
            <li class="{{#if activeHome}}selected{{/if}}"><a href="/">Home</a></li>
            <li class="{{#if activeTravel}}selected{{/if}}"><a href="/travel">Travel</a></li>
            <li><a href="/rooms.html">Rooms</a></li>
            <li><a href="/meals.html">Meals</a></li>
            <li><a href="/news.html">News</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>

      <div id="contents">
        {{{body}}}
      </div>
    </div>

    <div id="footer">
      <div>
        <ul class="navigation">
          <li class="{{#if activeHome}}active{{/if}}"><a href="/">Home</a></li>
          <li><a href="/travel">Travel</a></li>
          <li><a href="/rooms.html">Rooms</a></li>
          <li><a href="/meals.html">Meals</a></li>
          <li><a href="/news.html">News</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
      <p>© 2026 by Travlr Getaways. All Rights Reserved</p>
    </div>
  </div>
</body>
</html>